.table>tbody>tr>td {
    vertical-align: middle;
}

.table>tbody>tr>td form {
    display: inline-block;
}

.border-top {
    border-top: 1px solid #eee;
}

.createButtonWrapper {
    padding: 20px 0;
}

.tire-filters {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.order-received {
    color: #31708f;
    font-weight: bold;
}

.order-canceled {
    color: #a94442;
    font-weight: bold;
}

.order-done {
    color: #3c763d;
    font-weight: bold;
}